h3 {
  text-align: center;
  margin-top: 8vh;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 30px;
  background-color: rgb(147, 147, 147);
}
.project {
  width: 100%;
  text-align: center;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  padding: 1em 1em .5em;
}
.project img {
  width: 75%;
}
.description {
  margin: auto;
  width: 75%;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
.btn {
  background-color: rgba(0, 0, 0, 0.4);
}
[data-type="portfolio"] {
  display: none;
}
@media (min-width: 655px) {
  .title {
    font-size: 2em;
  }
  .project img {
    width: 60%;
  }
  .description {
    width: 60%;
    font-size: 1.25em;
  }
  h3{
    margin-top: 7vh;
  }
  .next{
    width: 4vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 40vh;
    right: 0;
    z-index: 102;
    display: none;
  }
  .next:hover{
    cursor: pointer;
  }
}
