.about img {
  border-radius: 50%;
  width: 20em;
  padding: 2em 0;
}
.about {
  width: 100%;
  text-align: center;
  padding-top: 30em;
}
.about p {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 0 1.25em;
  line-height: 80%;
}
.links {
  text-align: center;
}
.links img {
  width: 7em;
  padding: 5em 0;
}
.copyright {
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 1em;
}
