body {
  background-image: url('/images/laptop.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.mark-cont {
  margin: auto;
  position: relative;
  top: 100px;
  width: 100%;
}
.mark {
  margin: auto;
  text-align: center;
  min-width: 300px;
  max-width: 600px;
  width: 80%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.7);
  font-family: helvetica;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 75px;
}
.name {
  font-size: 28px;
  font-weight: bold;
}
.title {
  font-size: 20px;
  font-weight: lighter;
}
